<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Index PCI Leadership Evaluation</title>
  <style>
    #header {background-color: #094183;}
    div.dark { color:black;font-family:calibri;}
    body { color:white;font-family:calibri;}
    textarea {width:400px;height:100px;float:left}
    input, button {margin-top: 20px;margin-bottom:20px;}
    .draggable { width: 350px;  padding: 0.1em; font-size: 12px;  background-color: #5e93b3;}
    .droppable { border-radius: 4px; width: 450px; height: 350px; padding: 0.5em; float: left; margin: 10px; background-color:#094183;}
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

	<div id="header" style="width:auto; height:150px;"><img style="height:150px;float:left;" src="https://brandhub.unimelb.edu.au/guidelines/logos/04_Logo_Vertical-Housed.jpg"> <span style="line-height:150px;font-size:40px;margin-left: 80px;" id="title">PCI Leadership Evaluation</span></div>
<div style="clear:both"></div>




<div style="clear:both"></div>
</body>
</html>
